.main-juego{
    background: gray;

    border: 3px solid black;
    width: 80vw;
    margin: auto;
    
}
.titulo-juego{
    text-align: center;
}
.menu-juego-up{
    display: flex;
}
.marcador{
    border: 2px solid black;
}